.my-video {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  height: 100vh;
  background-color: $orange;
  & > div {
    flex: 1;
    z-index: 1;
    &::before {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width:  100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      content: '<video>';
      font-size: 2rem;
      color: white;
      font-family: monospace;
      z-index: -1;
    }
  }
}

/* Extra Large Devices, Wide Screens */
@media only screen and (max-width : 1600px) {

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

} 

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}