@font-face {
  font-family: 'ThamesC';
  src: url('~assets/fonts/ThamesC/ThamesC-Bold.woff2') format('woff2'),
      url('~assets/fonts/ThamesC/ThamesC-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ThamesC';
  src: url('~assets/fonts/ThamesC/ThamesC.woff2') format('woff2'),
      url('~assets/fonts/ThamesC/ThamesC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ThamesC';
  src: url('~assets/fonts/ThamesC/ThamesC-BoldItalic.woff2') format('woff2'),
      url('~assets/fonts/ThamesC/ThamesC-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'ThamesC';
  src: url('~assets/fonts/ThamesC/ThamesC-Italic.woff2') format('woff2'),
      url('~assets/fonts/ThamesC/ThamesC-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Selina';
  src: url('~assets/fonts/Selina/Selina-Regular.woff2') format('woff2'),
      url('~assets/fonts/Selina/Selina-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Selina Calligraphic';
  src: url('~assets/fonts/Selina/Selina-Calligraphic.woff2') format('woff2'),
      url('~assets/fonts/Selina/Selina-Calligraphic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Selina';
  src: url('~assets/fonts/Selina/Selina-MediumItalic.woff2') format('woff2'),
      url('~assets/fonts/Selina/Selina-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Selina';
  src: url('~assets/fonts/Selina/Selina-Black.woff2') format('woff2'),
      url('~assets/fonts/Selina/Selina-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Selina';
  src: url('~assets/fonts/Selina/Selina-Light.woff2') format('woff2'),
      url('~assets/fonts/Selina/Selina-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Selina';
  src: url('~assets/fonts/Selina/Selina-Bold.woff2') format('woff2'),
      url('~assets/fonts/Selina/Selina-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Selina';
  src: url('~assets/fonts/Selina/Selina-BlackItalic.woff2') format('woff2'),
      url('~assets/fonts/Selina/Selina-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Selina';
  src: url('~assets/fonts/Selina/Selina-Medium.woff2') format('woff2'),
      url('~assets/fonts/Selina/Selina-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Selina';
  src: url('~assets/fonts/Selina/Selina-LightItalic.woff2') format('woff2'),
      url('~assets/fonts/Selina/Selina-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Selina';
  src: url('~assets/fonts/Selina/Selina-Italic.woff2') format('woff2'),
      url('~assets/fonts/Selina/Selina-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Selina';
  src: url('~assets/fonts/Selina/Selina-BoldItalic.woff2') format('woff2'),
      url('~assets/fonts/Selina/Selina-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}