.contacts {
  width: 100%;
  height: 100vh;
  background-color: $yellow;
  &__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &::before {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width:  100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      content: '<map>';
      font-size: 2rem;
      color: white;
      font-family: monospace;
    }
  }
  &__wrapper {
    position: absolute;
    right: 15px;
    bottom: 45px;
    z-index: 2;
  }
  &__title {
    position: relative;
    display: inline-block;
    font-size: 45px;
    font-family: 'ThamesC';
    font-style: italic;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
    padding: 0 20px;
    padding-bottom: 10px;
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);
    &--decorative {
      position: absolute;
      top: 0;
      left: 0;
      width: 8px;
      height: 100%;
    }
  }
  &__body {
    width: 380px;
    height: auto;
    background-color: white;
    &--upper,
    &--bottom {
      padding: 20px;
    }
    &--bottom {
      background-color: $orange;
    }
  }
  .info {
    line-height: 1rem;
    &__title {
      text-transform: uppercase;
      color: $orange;
      font-size: 1.3rem;
      font-family: 'Thames C';
      font-weight: 700;
      line-height: 1.3rem;
      font-style: italic;
    }
    &__address {
      position: relative;
      padding-left: 20px;
      margin-top: 1rem;
    }
    &__contacts {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin-top: 1rem;
    }
    &__phone {
      position: relative;
      padding-left: 20px;
      color: black;
      cursor: pointer;
      text-decoration: none;
    }
    &__email {
      position: relative;
      padding-left: 20px;
      color: black;
      cursor: pointer;
      margin-left: 10px;
    }
    &__maps {
      position: relative;
      padding-left: 25px;
      margin-top: 1rem;
    }
    &__map-link {
      color: black;
      font-style: italic;
    }
  }
  .feedback {
    display: flex;
    &__text {
      position: relative;
      padding-left: 25px;
      color: white;
    }
    &__form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
    }
  }
  .form {
    font-family: 'Thames C';
    &__row {
      margin-top: 1rem;
      display: flex;
      & > * {
        flex: 1;
      }
    }
    &__group {
      margin: 0 -.5rem;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      & > * {
        flex: 1 1 50%;
        max-width: calc(50% - 1rem);
        margin: 0 .5rem;
      }
    }
    &__submit {
      margin-left: auto;
    }
    & input {
      height: 30px;
      padding: .5rem;
      font-family: 'Selina';
      font-size: 1rem;
      background-color: rgba(255, 255, 255, .2);
      border: none;
      color: white;
      &::placeholder {
        color: white;
      }
    }
    & textarea {
      padding: .5rem;
      font-family: 'Selina';
      font-size: 1rem;
      background-color: rgba(255, 255, 255, .2);
      border: none;
      color: white;
      min-height: 7rem;
      &::placeholder {
        color: white;
      }
    }
  }
  .icon {
    position: absolute;
    top: 0;
    left: 0;
    color: $orange;
    font-size: 1rem;
    max-width: 20px;
    max-height: 20px;
    &--white {
      color: white;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

/* Extra Large Devices, Wide Screens */
@media only screen and (max-width : 1600px) {

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .contacts {
    &__map {
      display: none;
    }
    &__wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
    &__body {
      width: auto;
    }
    & .info {
      &__contacts {
        flex-direction: column;
      }
      &__email {
        margin-left: 0;
        margin-top: 5px;
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}