.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 100;
  &__wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    // padding: 0 20px;
  }
  &__menu {
    background-color: $red;
    background-image: url('~assets/imgs/nav-bg.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    min-width: 640px;
    height: 52px;
  }
  &__logo {
    min-width: 80px;
    min-height: 80px;
  }
}
.menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  &__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 -15px;
    padding: 0;
    list-style: none;
  }
  &__item {
    flex: 1 1 auto;
  }
  &__lang {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 -15px;
    padding: 0;
    list-style: none;
  }
  &__lang-item {
    margin: 0 15px;
  }
  &__lang-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: ThamesC;
    font-size: 1rem;
    font-weight: 700;
    color: $yellow;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    &.active,
    &:hover,
    &:focus,
    &:active {
      font-style: italic;
      font-weight: normal;
      color: white;
    }
  }
}
.menu-item {
  margin: 0 15px;
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: ThamesC;
    font-size: 1rem;
    font-weight: 700;
    color: $yellow;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    &.active,
    &:hover,
    &:focus,
    &:active {
      font-style: italic;
      font-weight: normal;
      color: white;
    }
    &--hotel {
      min-width: 60px;
    }
    &--rooms {
      min-width: 78px;
    }
    &--reviews {
      min-width: 80px;
    }
    &--video {
      min-width: 65px;
    }
    &--contacts {
      min-width: 110px;
    }
  }
}