.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 100;
  &__wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    // padding: 0 20px;
  }
  &__menu {
    background-color: $red;
    background-image: url('~assets/imgs/nav-bg.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    min-width: 640px;
    height: 52px;
  }
  &__logo {
    min-width: 80px;
    min-height: 80px;
  }
}
.menu {
  &__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 -15px;
    padding: 0;
    list-style: none;
  }
  &__item {
    flex: 1 1 auto;
  }
  &__lang {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 -15px;
    padding: 0;
    list-style: none;
  }
  &__lang-item {
    margin: 0 15px;
  }
  &__lang-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: ThamesC;
    font-size: 1rem;
    font-weight: 700;
    color: $yellow;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    &.active,
    &:hover,
    &:focus,
    &:active {
      font-style: italic;
      font-weight: normal;
      color: white;
    }
  }
  &__toggle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding:20px;
  }
  &__buttons {
    display: none;
  }
  &__button {
    background: none;
    color: white;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    &--open {
    }
    &--close {
    }
  }
}
.menu-item {
  margin: 0 15px;
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: ThamesC;
    font-size: 1rem;
    font-weight: 700;
    color: $yellow;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    &.active,
    &:hover,
    &:focus,
    &:active {
      font-style: italic;
      font-weight: normal;
      color: white;
    }
    &--hotel {
      min-width: 60px;
    }
    &--rooms {
      min-width: 78px;
    }
    &--reviews {
      min-width: 80px;
    }
    &--video {
      min-width: 65px;
    }
    &--contacts {
      min-width: 110px;
    }
  }
}

/* Extra Large Devices, Wide Screens */
@media only screen and (max-width : 1600px) {

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .nav__menu {
    width: auto;
    min-width: initial;
    background-image: none;
  }
  .menu {
    &__toggle {
      display: none;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: auto;
      padding: 2rem;
      padding-top: 3.1rem;
      background-color: $red;
      flex-direction: column;
      justify-content: center;
    }
    &__buttons {
      position: absolute;
      display: block;
      top: 10px;
      right: 1rem;
      z-index: 10;
      padding: 10px 15px;
      background-color: $red;
    }
    &__button {
      &--close {
        display: none;
      }
    }
    &__list {
      flex-direction: column;
      height: auto;
    }
    &__lang {
      border-top: 1px dashed $yellow;
      margin-top: 1rem;
      padding-top: 1rem;
      flex-direction: row;
      &-button {
        font-size: 1.5rem;
      }
    }
    &-item {
      &__link {
        font-size: 1.5rem;
      }
    }
  }
  #menu {
    &:target {
      & .menu__toggle {
        display: flex;
      }
      & .menu__button--open {
        display: none;
      }
      & .menu__button--close {
        display: block;
      }
    }
    &:not(:target) {
      & .menu__toggle {
        display: none;
      }
      & .menu__button--open {
        display: block;
      }
      & .menu__button--close {
        display: none;
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}